
body {
    font-family: 'Inter', sans-serif !important; 
}

p , .text ,a  {
    font-family: 'Roboto',sans-serif !important;
}

#home .profile {
    top:-30px;
}

.flex-basis-50{
    flex-basis: 50%;
}
.flex-basis-67{
    flex-basis: 67%;
}
.flex-basis-33{
    flex-basis: 33%;
}
.flex-basis-400px {
    flex-basis: 400px;
}

#footer a {
    color:white;
}

@media screen and (max-width:992px) {
    #home > .container , #marque > .container , #ethique > .container {
        display: flex !important;  
        align-items: flex-start !important;
        flex-direction: column !important;
    }
    .text-box {
        flex-basis: 0px !important;
    }
}

@media screen and (max-width:768px) {
    #home , #marque , #ethique , #gallerie , #partenaires{
        padding-right:0 !important;
        padding-left: 0 !important;
    }
}